<%- include('partials/adminHeader') %>

<section class="placesContent">
    <div class="container">
        <div class="list-head">
            <p class="list-text">Location List</p>
            <button class="loc-button"><a href="/addLocation" style="text-decoration: none; color: white;">Add Location</a></button>
        </div>
        <% location.forEach((locations) => { %>
        <div class="cardLinks">
            <div class="card mb-3">
              <div class="row no-gutters">
                <a href="/places/<%=locations._id%>/edit">
                    <div class="col-md-4  col-sm-3 col-2 imgSpace">
                      <img src="<%=locations.splashImage%>" class="card-img img-responsive" alt="...">
                    </div>
                </a>
                <a href="/places/<%=locations._id%>/edit"><span class="glyphicon glyphicon-pencil" title="edit"></span></a>
                <a href="/places/<%=locations._id%>/delete"><span class="glyphicon glyphicon-trash" title="delete"></span></a>
                <div class="col-md-7">
                  <div class="card-body">
                    <a href="/places/<%=locations._id%>/edit"><h5 class="card-title"><%=locations.locationName%></h5></a>
                    <p class="card-text"><%=locations.description%></p>
                  </div>
                  
                </div>

              </div>
            </div>
        </div>
        <% }); %>
        <!-- <div class="cardLinks">
            <div class="card mb-3">
              <div class="row no-gutters">
                <a href="">
                    <div class="col-md-4  col-sm-3 col-2 imgSpace">
                      <img src="images/cove.jpg " class="card-img img-responsive" alt="...">

                    </div>
                </a>
                <a href="/edit"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href=""><span class="glyphicon glyphicon-trash"></span></a>
                <div class="col-md-7">
                  <div class="card-body">
                    <a href=""><h5 class="card-title">[Name of Place/Location]</h5></a>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   
                  </div>
                  
                </div>

              </div>
            </div>
        </div> -->

        <!-- <div class="cardLinks">
            <div class="card mb-3">
              <div class="row no-gutters">
                <a href="">
                    <div class="col-md-4  col-sm-3 col-2 imgSpace">
                      <img src="images/cove.jpg " class="card-img img-responsive" alt="...">

                    </div>
                </a>
                <a href="/edit"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href=""><span class="glyphicon glyphicon-trash"></span></a>
                <div class="col-md-7">
                  <div class="card-body">
                    <a href=""><h5 class="card-title">[Name of Place/Location]</h5></a>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    
                  </div>
                  
                </div>

              </div>
            </div>
        </div>


        <div class="cardLinks">
            <div class="card mb-3">
              <div class="row no-gutters">
                <a href="">
                    <div class="col-md-4  col-sm-3 col-2 imgSpace">
                      <img src="images/cove.jpg " class="card-img img-responsive" alt="...">

                    </div>
                </a>
                <a href="/edit"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href=""><span class="glyphicon glyphicon-trash"></span></a>
                <div class="col-md-7">
                  <div class="card-body">
                    <a href=""><h5 class="card-title">[Name of Place/Location]</h5></a>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   
                  </div>
                  
                </div>

              </div>
            </div>
        </div> -->

    </div>

</section>


<!-- <section class="container">
  <div class="collapse navbar-collapse" id="bs-demo">
  <footer class="row">
    <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
      <ul class="row">
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
          </a>
        </li>
      </ul>
    </div>
    
    <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
      <p> &copy; Local Landings</p>
    </div>
    
    <div class="impressum col-xs-12 col-sm-3 col-sm-pull-6">
      <p>Frustrated CS production</p>
      
    </div>
  </footer>
    </div>
</section> -->


<%- include('partials/footer') %>