<%- include('partials/secretHeader')%>


<section class="placesContent">
    <div class="container">
    <div class="list-head">
        <h1 class="list-text">Your Locations </h1>
    </div>
        <%location.forEach((location)=>{%>
        <a href="places/<%=location._id%>" class="cardLinks">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4  col-sm-3 col-2 imgSpace">
                  <img src="<%=location.splashImage%> " class="card-img img-responsive" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%=location.locationName%></h5>
                    <p class="card-text">
                        <%=location.description%>
                    </p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                  </div>
                </div>
              </div>
            </div>
        </a>
        <%});%>
    </div>

</section>

<%- include('partials/footer')%>